*.o
*.so
*.tmp
*.log
*.lock
.libs/
.phpintel/
Makefile
Makefile.fragments
Makefile.objects
autom4te.cache/
build/
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
php_tea_openpty.loT
run-tests.php
tea_openpty.lo
